* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}

.clearfix::after {
	content:"";
	display: block;
	clear: both;
}

header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}

.navigation {
	width: 1024px;
	margin: 0 auto;
}

.navi-list {
	float: right;
}


nav img{
	height: 70px;
}

.list-item {
	display: inline-block;
	font-size: 16px;
	color: #FAFAFA;
	margin: auto 30px;
	line-height: 70px;
}


.main-visual {
	height: 650px;
	background-image: url(img/mv.png);
	background-position: bottom;
	background-size: cover;
}

.main-visual-content {
	width: 400px;
	height: 200px;
	padding-top: 200px;
	margin: 0 auto;
	text-align: center;
}

.main-visual-title {
	font-size: 64px;
	margin-bottom: 10px;
	color: #FAFAFA;
}

.main-visual-text {
	font-size: 20px;
	color: #FAFAFA;
}

.pf {
	height: 900px
	background-color: #ECEFF1;
}

.pf-box {
width: 920px;
/*height: 900px;*/
margin: 0 auto;
padding-bottom: 80px;
}


 h2 {
	font-size: 32px;
	padding-bottom: 8px;
	margin-top: 90px;
	position: relative;
	color: #000000;
	text-align: center;
}

.border-bottom {
	width: 70px;
	height: 3px;
	background-color: #EC715F;
	margin: 0 auto;
}

h3 {
	font-size: 20px;
	color: #000000;
}

p {
	font-size: 16px;
	color: #000000;
	text-align: center;
	margin: 30px 0;
}

.pf-img {
	float: left;
	width: 300px;
	height: 250px;
	margin-right: 10px;
	margin-bottom: 10px;
}


.pf-img:nth-child(3n) {
	margin-right: 0;
}

.pf-img:last-child(-n+3) {
	margin-bottom: 90px;
}

.feature {
	width: 980px;
	padding: 90px auto;
	margin: 0 auto 90px;
}

.f-headline {
	font-size: 32px;
	color: #000000;
	text-align: center;
	position: relative;
	margin: 0 auto;
	padding: 8px;
}

.f-text {
	font-size: 16px;
	color: #000000;
	text-align: center;
	margin: 30px auto;
}

.strength:nth-child(2) {
	margin: 0 10px;
}

.strength {
	float: left;
	width: 320px;
	text-align: center;

}

.big {
	font-size: 60px;
	margin: 0 auto;
}

.s-headline {
	font-size: 20px;
	color: #000000;
	margin: 10px 0 10px;
	text-align: center;
}

.s-text {
	font-size: 16px;
	color: #000000;
}

.profile {
	width: 1024px;
	background-color: #ECEFF1;
	padding: 90px auto;
	margin: 0 auto 90px;
}

.p-main-img {
	float: left;
	width: 512px;
	text-align: center;
}

.p-img {
	width: 250px;
	height: 250px;
	border-radius: 100%;
}


.p-main-content {
	float: left;
	width: 512px;
	height: auto;
}

.p-main-text {
	margin: 5px 0 20px;
}

.p-main-text2 {
	margin-top: 5px;
	text-align: left;
}

.contact {
	width: 800px;
	padding: 90px auto;
	margin: 0 auto 90px;
}

.contact-left {
	float: left;
	width: 400px;
}

.mail-address {
	margin: 5px 0 20px;
	text-align: left;
}

.phone-number {
	margin-top: 5px;
	text-align: left;
}

.contact-right {
	float: left;
	width: 400px;
}

.contact-size {
	font-size: 50px;
	margin: 0 10px;
}

footer {
	height: 60px;
	background-color: #EC715F;
}

.footer-text {
	font-size: 16px
	color: #FAFAFA;
	line-height: 60px;
}

@media screen and (max-width:768px) {

	header {
	width: 90%;
	height: 50px;
	margin: 0 5%;
	background-color: #EC715F;
	}

	.hum {
		float: right;
		width: 45px;
		height: 45px;
		background-color: ;
	}

	.hum-item {
		float: right;
		width: 40px;
		height: 1px;
		color: black;
	}

	.list-item {
		display: none;
	}

	.main-visual {
		width: 90%;
	height: 650px;
	margin-left: 5%;
	margin-right: 5%;
	background-image: url(img/mv.png);
	background-position: bottom;
	background-size: cover;
	}

.main-visual-title {
	font-size: 40px;
	margin-bottom: 10px;
	color: #FAFAFA;
}

.main-visual-text {
	font-size: 18px;
	color: #FAFAFA;
}

.pf {
	height: 90%;
	background-color: #ECEFF1;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

.pf-box {
width: 90%;
/*height: 900px;*/
margin: 0 auto;
padding-bottom: 80px;
}

.pf-img:nth-child(even) {
	float: none;
	width: 300px;
	height: 250px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.odd {
	display: none;
}


.pf-img color {
	float: none;

}


.feature {
	width: 90%;
	padding: 90px auto;
	margin: 0 auto 90px;
}

.strength {
	float: none;
	width: 320px;
	text-align: center;
	margin: 0 auto;

}

.strength:nth-child(2) {
	margin: 0 auto;
}

.profile {
	width: 90%;
	background-color: #ECEFF1;
	padding: 90px auto;
	margin: 0 auto 90px;
}

.p-main-img {
	float: none;
	width: 90%;
	text-align: center;
}

.p-img {
	width: 250px;
	height: 250px;
	border-radius: 100%;
}


.p-main-content {
	float: none;
	width: 90%;
	height: auto;
	text-align: center;
}

.p-main-text {
	margin: 5px 0 20px;
}

.p-main-text2 {
	margin-top: 5px;
	margin-bottom: 90px;
	text-align: center;
}

.contact {
	width: 90%;
	padding: 90px auto;
	margin: 0 auto 90px;
}

.contact-left {
	float: none;
	width: 90%;
	text-align: center;
}

.mail-address {
	margin: 5px 0 20px;
	text-align: center;
}

.phone-number {
	margin-top: 5px;
	text-align: center;
}

.contact-right {
	float: none;
	width: 90%;
	text-align: center;
}

.contact-size {
	font-size: 50px;
	margin: 0 10px;
	text-align: center;
}

footer {
	height: 60px;
	margin: 0 5%;
	background-color: #EC715F;
}

}