* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}

header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}

.navigation {
	width: 1024px;
}

.navi-list {
	text-align: right;
}

.list-item-img {
position; relative;
}

.list-item {
	display: inline-block;
	font-size: 16px;
	color: #FAFAFA;
	margin: auto 30px;
	line-height: 70px;
}

